@inject TemplateService TemplateService

<div class="d-flex flex-wrap mx-n1">
    <div class="col-6 px-1 pb-1">
        <label for="language" class="form-label">Language</label>
        <InputSelect id="language" disabled="@_isBusy" class="form-select form-select-sm" @bind-Value="_language"
                     @bind-Value:after="AfterLanguageChanged">
            @foreach (var language in Enum.GetValues<Language>())
            {
                <option value="@language">@language</option>
            }
        </InputSelect>
    </div>
    <div class="col-6 px-1 pb-1">
        <label for="template" class="form-label">Template</label>
        <InputSelect id="template" disabled="@_isBusy" class="form-select form-select-sm" @bind-Value="_templateId"
                     @bind-Value:after="AfterTemplateChanged">
            @foreach (var template in TemplateService.Templates)
            {
                <option value="@template.Id">@template.Name</option>
            }
        </InputSelect>
    </div>
    @foreach (var param in TemplateService.TemplateParameters)
    {
        @switch (param.Type)
        {
            case TemplateParameterType.Text:
                <div class="col-6 px-1 pb-1">
                    <label for="@param.Id" class="form-label">@param.Name</label>
                    <InputText id="@param.Id" disabled="@_isBusy"
                               class="@("form-control form-control-sm mb-1 " + (param.Valid ? "is-valid" : "is-invalid"))"
                               @bind-Value="param.Value"
                               @bind-Value:after="AfterParameterChanged"/>
                    <div class="invalid-feedback">Required</div>
                </div>
                break;
            case TemplateParameterType.LongText:
                <div class="col-12 px-1 pb-1">
                    <label for="@param.Id" class="form-label">@param.Name</label>
                    <InputTextArea id="@param.Id" disabled="@_isBusy"
                                   class="@("form-control form-control-sm mb-1 " + (param.Valid ? "is-valid" : "is-invalid"))"
                                   @bind-Value="param.Value"
                                   @bind-Value:after="AfterParameterChanged"/>
                    <div class="invalid-feedback">Required</div>
                </div>
                break;
            case TemplateParameterType.Select:
                <div class="col-6 px-1 pb-1">
                    <label for="@param.Id" class="form-label">@param.Name</label>
                    <InputSelect id="@param.Id" disabled="@_isBusy"
                                 class="@("form-select form-select-sm mb-1 " + (param.Valid ? "is-valid" : "is-invalid"))"
                                 @bind-Value="param.Value"
                                 @bind-Value:after="AfterParameterChanged">
                        <option selected disabled>Select</option>
                        @foreach (var option in param.Options)
                        {
                            <option value="@option">@option</option>
                        }
                    </InputSelect>
                    <div class="invalid-feedback">Required</div>
                </div>
                break;
            default:
                throw new Exception($"Unknown parameter type {param.Type}");
        }
    }
</div>

@code {
    [Parameter] public EventCallback<bool> IsBusyChanged { get; set; }

    private Language _language = Language.En;
    private Guid _templateId;
    private TemplateParameter[] _templateParameters = [];
    private bool _isBusy = true;

    protected override async Task OnInitializedAsync()
    {
        await AfterLanguageChanged();
    }

    private async Task AfterLanguageChanged()
    {
        await SetBusyAsync(true);
        await TemplateService.SetLanguageAsync(_language);
        await SetBusyAsync(false);
    }

    private async Task AfterTemplateChanged()
    {
        await SetBusyAsync(true);
        await TemplateService.TemplateIdChangedAsync(_templateId);
        await SetBusyAsync(false);
    }

    private async Task AfterParameterChanged()
    {
        await SetBusyAsync(true);
        await TemplateService.ParameterChangedAsync();
        await SetBusyAsync(false);
    }

    private async Task SetBusyAsync(bool value)
    {
        _isBusy = value;
        _templateParameters = value ? [] : TemplateService.TemplateParameters;
        await IsBusyChanged.InvokeAsync(value);
        StateHasChanged();
    }

}
