<div class="row">
    <label for="@("profile_" + Profile?.Language)" class="form-label">Profile</label>
    @if (Profile == null)
    {
        <textarea id="@("profile_" + Profile?.Language)"
                  class="form-control form-control-sm mb-1 is-valid"
                  disabled="disabled"></textarea>
    }
    else
    {
        <InputTextArea id="@("profile_" + Profile?.Language)"
                       class="@("form-control form-control-sm mb-1 " + (IsValid ? "is-valid" : "is-invalid"))"
                       @bind-Value="Profile!.Text"/>
    }
    <div class="invalid-feedback">Required</div>
</div>
<div class="row justify-content-end pb-4">
    <div class="col-12 col-sm-4 col-md-2 p-0">
        <button class="btn btn-primary" disabled="@(!IsValid)"
                style="width: 100%;"
                @onclick="() => SaveProfile.InvokeAsync()">
            Save
        </button>
    </div>
</div>

@code {
    [Parameter]
    public Profile? Profile { get; set; }

    [Parameter]
    public EventCallback SaveProfile { get; set; }

    private bool IsValid => !string.IsNullOrEmpty(Profile?.Text);
}
